body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 900px;
  flex-grow: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;

  font-weight: 600;
  font-size: 20px;
  font-family: monospace;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.header .top-info-text {
  color: green;
  text-align: center;
}

.main {
  padding: 100px 16px;
}

/* Targets .reset-button and .selection-buttons-container */
.main > * {
  display: flex;
}

button {
  border: 1px solid navy;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  border-color: orangered;
}

.reset-button {
  width: 200px;
  height: 100px;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

.selection-buttons-container {
  justify-content: space-around;
  gap: 50px;
  flex-wrap: wrap;
}

.selection-buttons-container button {
  height: 150px;
  width: 150px;
}

img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.scissors img {
  max-width: 95%;
  max-height: 95%;
}

.hidden {
  display: none;
}

.round-message {
  text-align: center;
  min-height: 100px;
}

@media(max-width: 700px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
}

@media(max-width: 500px) {
  .main {
    padding: 16px;
  }

  .reset-button {
    margin: 50px auto;
  }

  .selection-buttons-container {
    flex-direction: column;
    align-items: center;
  }

  .top-info-text {
    order: -1;
  }
}
